# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints